NODE_ENV=development

# GitHub API URL or access token
# Recommendation: https://github.com/gittrends-app/github-proxy-server
CLI_API_URL=http://127.0.0.1:3000
# CLI_ACCESS_TOKEN=

# database config
CLI_DATABASE=sqlite
# CLI_DATABASE=postgres
# CLI_DATABASE_HOST=localhost
# CLI_DATABASE_PORT=5432
# CLI_DATABASE_USERNAME=root
# CLI_DATABASE_PASSWORD=root
# CLI_DATABASE_DB=gittrends.app
# CLI_DATABASE_POOL_MIN=1
# CLI_DATABASE_POOL_MAX=3

# redis config
CLI_REDIS_HOST=localhost
CLI_REDIS_PORT=6379
CLI_REDIS_DB=0

# migrations config
CLI_MIGRATIONS_WORKERS=10

# queue config
CLI_SCHEDULER_WORKERS=10
CLI_SCHEDULER_ATTEMPS=3

# scripts config
CLI_WRITE_BATCH=
CLI_WRITE_BATCH_ACTORS=500
CLI_WRITE_BATCH_WATCHERS=500
CLI_WRITE_BATCH_TAGS=500
CLI_WRITE_BATCH_RELEASES=500
CLI_WRITE_BATCH_DEPENDENCIES=500
CLI_WRITE_BATCH_ISSUES=50
CLI_WRITE_BATCH_PULL_REQUESTS=50